.home3-title {
    justify-content: center;
    text-align: center;
}

.home3-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em 2em;
    align-items: center;
    padding-top: 2em;
}

.home3-cards-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    border: 1px solid var(--color5);
    box-sizing: border-box;
    padding: 2em;
    text-align: center;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
    max-width: 200px;
    margin-top: 1.5em;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: center;
}



