

@media (max-width: 500px) {
    .menu-logo,
    .menu-content {
        margin: 0;
    }

    .responsive-text {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
        font-size: 0.9em;
        font-weight: 600;
        text-align: left;
        padding: 0 1rem;
        width: 10em;
    }

    .amigostext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.75em;
        font-weight: 400;
        text-align: center;
    }

    .partner_banners,
    .home_banners {
        width: 100vw;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .home_banners {
        height: 150px;
    }
}

@media (min-width: 500px) {
    .responsive-text {
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(0, -50%);
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: 600;
        text-align: left;
        padding: 0 1rem;
        width: 10em;
    }

    .amigostext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }

    .partner_banners {
        width: 100vw;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 800px) {
    body {
        margin: 0;
    }

    .cards {
        margin: auto;
        max-width: 1000px;
    }

    #id-column {
        flex-direction: row;
        font-size: 120%;
    }

    #id-column>div:first-child {
        border-bottom: none;
        border-right: 2px solid var(--color2);
    }

    .form-div {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .forms {
        width: 45%;
    }

    .partner-cards {
        flex-direction: row;
    }

    .partner-img,
    .partner-text {
        width: 50%;
    }

    .partner-cards div:nth-child(1) {
        order: 1;
    }

    .partner-cards div:nth-child(2) {
        order: 2;
    }

    .partner-cards div:nth-child(3) {
        order: 4;
    }

    .partner-cards div:nth-child(4) {
        order: 3;
    }

    .partner-cards div:nth-child(5) {
        order: 5;
    }

    .partner-cards div:nth-child(6) {
        order: 6;
    }
}

@media (min-width: 1000px) {
    .cards {
        gap: 5em;
    }

    .text2 {
        max-width: 1000px;
        margin: 0 auto 2.5em;
        font-size: 20px;
    }

    #id-column .text,
    #id-column .title {
        padding: 4em;
    }

    #home-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4em;
        padding-top: 0;
    }

    .arrow {
        transform: rotate(-45deg);
    }

    #contact-section {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .contact-text {
        font-size: 20px;
        text-align: center;
        padding: 30px 5em;
        width: 30em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .responsive-text {
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(0, -50%);
        font-size: clamp(1rem, 4vw, 3rem);
        font-weight: 600;
        text-align: left;
        padding: 0 1rem;
        width: 10em;
    }
}

@media (min-width: 1200px) {
    .partner_banners {
        height: 300px;
    }
}

@media (min-width: 1700px) {
    .partner_banners {
        height: 350px;
    }
}
